@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Estos primeros tres estilos es para quitar los estilos que pone el navegador por defectos */
}

body{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 400;
}

.homeBody{
    position: fixed; /* fixed para que la posición sea inmovible */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* HEADER
 =================================== */

.header{
    width: 100%;
    height: 140px;
    display: grid; /* Cuando trabajamos con grid es para estructurar nuestra página web con columnas y filas */
    grid-template-rows: 1fr 1fr; /* Para crear filas */ /* Cada después de los dos puntos son filas creadas */
}

.social{
    background-color: #e6162e;
    width: 100%;
    height: 50px;
    display: grid;
}

.socialIcons{
    width: 250px;
    height: auto;
    display: flex; /* usamos este comando junto a flex para poder trabajar con flexbox */ /* Flex hace que cada elemento
    use el espacio necesario (no tienen margen) */
    align-items: center;
    justify-content: space-between; /* para ocupar todo el contenedor */
    justify-self: end; /* movemos el contenedor a la derecha */
    margin-right: 50px;
}

.socialIcons a{
    color: #fff;
    font-size: 28px;
}

.socialIcons a:hover{
    color: #616161;
}

.nav{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.navLogo{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navLink{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}

.navLink a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

/* MAIN DE HOME
============================= */

.homeMain{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../img/cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer{
    display: grid;
    grid-column: 2; /* lo posicionamos en la columna que queramos */
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.mainContainerTexto{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
}

.mainContainerLink{
    text-decoration: none;
    background-color: #e6162e;
    display: inline-block; /* para que podamos moverlo */
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    height: 45px;
}

.mainContainerLink:hover{
    background-color: #eb253c;
}


/* PÁGINA DE BLOG
================================ */

.blogsMain{
    display: grid;
}

.news{
    background-color: #e6e9ed;
    padding: 10px 80px 40px;
}

.newsContent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.newsContent img{
    grid-column: 1; /* lo posicionamos en la columna que queramos */
    width: 85%;
    display: inline-block; /* para poder moverlo */
    margin: 10px 0;
}

.newsInfo{
    grid-column: 2;
}

.newsInfo h2{
    margin-top: 20px;
}

.newsInfo p{
    margin: 30px 0;
}


/* BOTÓN DE BLOGS 
================================*/

.blogsBtn{
    text-decoration: none;
    color: black;
    border: 1px solid #e6162e;
    padding: 10px 15px;
}

/* POSTS 
================================*/

.posts{
    padding: 0 80px 40px;
}

.posts h3{
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
    text-align: center;
}

.postsBlog{
    display: inline-block;
    padding: 15px;
    max-width: 32%; /* ancho máximo que pueda usar en la página */
    margin-bottom: 50px;
}

.postsBlog img{
    width: 100%;
}

.postsBlog h4{
    margin: 20px 0;
}

.postsBlog p{
    margin-bottom: 35px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #e6162e;
    display: flex; /* para poder centrar el elemento de adentro */
    align-items: center;
    justify-content: center;
}

footer p{
    color: #fff;
}


/* BLOG
========================= */

.mainBlog{
    padding: 0 80px 40px;
}

.mainBlogContent img{
    display: inline-block;
    padding: 0 50px 40px;
    width: 100%;
}

.blogContentArticles {
    padding: 0 80px 40px;
}

.blogContentArticles h4{
    border-bottom: 1px solid #cdd2da;
}

.blogContentArticles h1{
    margin: 20px 0;
    font-size: 35px;
}


/* Sección de contacto
============================== */
.sectionContact{
    width: 100%;
    background-color: #e6e9ed;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 50px;
}

.contact{
    display: flex;
    margin: 20px 0px 20px;
}

.contact img{
    width: 100px;
    display: inline-block;
    padding: 10px;
}

.contactInfo{
    padding: 20px 0;
    width: 300px;
}

.contactInfo a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.contactInfo p{
    margin-top: 10px;
}

/* PERFIL
==================================== */

.profile{
    padding: 70px 100px;
    background-color: #e6e9ed;
    margin-bottom: 5px;
    display: flex;
}

.profile img{
    width: 320px;
    margin-right: 30px;
}

.profile p{
    margin-top: 10px;
}

.projectsContainer{
    padding: 0 80px 40px;
}

.projectsContainer h3{
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
    text-align: center;
}

.project{
    display: inline-block;
    padding: 15px;
    max-width: 32%;
}

.project h4{
    margin: 20px 0;
}

.project p{
    margin-bottom: 35px;
}